<app-header></app-header>
<div class="profile">
  <div class="profile-infos">
    <h2>Profil utilisateur</h2>
    <form
      class="profile-infos-form"
      (ngSubmit)="onSubmit()"
      [formGroup]="profileForm"
    >
      <mat-form-field>
        <input id="username" matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <input id="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input
          id="password"
          matInput
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <app-button
        label="Sauvegarder"
        type="submit"
        [disabled]="profileForm.invalid"
      ></app-button>
    </form>
    <button class="logout-button" (click)="logOut()">Se déconnecter</button>
  </div>
  <div class="profile-subscriptions">
    <h2>Abonnements</h2>
    <div class="profile-subscriptions-grid">
      <div *ngIf="subscriptions.length === 0">Aucun abonnement</div>
      <div *ngFor="let subscription of subscriptions" class="subscription-card">
        <div class="subscription-card-header">
          <h2>{{ subscription.topicTitle }}</h2>
        </div>
        <div class="subscription-card-content">
          <p>{{ subscription.topicDescription }}</p>
        </div>
        <div class="subscription-card-action">
          <app-button
            label="Se désabonner"
            type="button"
            (onclick)="unsubscribe(subscription.topicId)"
          ></app-button>
          <button (click)="unsubscribe(subscription.topicId)">
            Se désabonner
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
