.profile {
  width: 100%;
  &-infos {
    border-bottom: solid 1px black;
    width: 95%;
    h2 {
      margin: 20px 0 0 0;
      font-weight: bold;
    }
    &-form {
      width: 100%;
      max-width: 400px;
      mat-form-field {
        width: 100%;
        .mat-form-field-infix {
          padding: 0;
          border: 0;
          .mat-form-field-label {
            span {
              margin: 10px;
              display: flex;
              height: 100%;
            }
          }
        }
      }
      input {
        border: 1px solid rgba(119, 99, 197, 1);
        padding: 10px;
        border-radius: 8px;
      }
    }
    .logout-button {
      border: none;
      background-color: white;
      color: rgba(164, 15, 15, 1);
      font-size: 14px;
      font-weight: bold;
      margin: 10px 0;
    }
  }
  &-subscriptions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      width: 100%;
      max-width: 1200px;
      .subscription-card {
        background-color: #f5f5f5;
        border-radius: 8px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-header {
          text-align: left;
          margin-bottom: 10px;
          h2 {
            font-size: 16px;
          }
        }
        &-content {
          flex-grow: 1;
          font-size: 14px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &-action {
          display: flex;
          justify-content: center;
          margin-top: 10px;
        }
      }
    }
  }
}

.profile,
.profile-infos,
.profile-infos-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::ng-deep .profile-infos-form .mat-form-field-underline {
  display: none !important;
}

::ng-deep .mat-form-field-label {
  display: flex !important;
  align-items: center !important;
  height: 60%;
  margin-left: 10px;
}

@media (max-width: 425px) {
  .profile-infos-form {
    width: 80%;
  }

  .profile-subscriptions-grid {
    grid-template-columns: 1fr !important;
    gap: 12px !important;
    padding: 0 !important;
  }

  .subscription-card {
    margin: 0 10px;
  }
}
