<app-header></app-header>
<div>
  <div>
    <h2>Profil utilisateur</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
      <mat-form-field>
        <input id="username" matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <input id="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input
          id="password"
          matInput
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <app-button
        label="Sauvegarder"
        type="submit"
        [disabled]="profileForm.invalid"
      ></app-button>
    </form>
    <button class="logout-button" (click)="logOut()">Se déconnecter</button>
  </div>
  <div>
    <h2>Abonnements</h2>
    <div *ngIf="subscriptions.length === 0">Aucun abonnement.</div>

    <div *ngFor="let subscription of subscriptions">
      <div class="subscription-card">
        <h3>{{ subscription.topicTitle }}</h3>
        <p>{{ subscription.topicDescription }}</p>
        <button
          (click)="unsubscribe(subscription.topicId)"
          class="unsubscribe-button"
        >
          Se désabonner
        </button>
      </div>
    </div>
  </div>
</div>
