<app-header class="desktop-header"></app-header>
<app-back-button></app-back-button>
<div class="mobile-logo" *ngIf="isMobile">
  <img src="../../../../../assets/logo_p6.png" alt="Logo de MDD" />
</div>
<div class="login">
  <h2 class="login_title">Se connecter</h2>
  <form class="login_form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-content>
      <div class="form-group">
        <label for="email">E-mail ou nom d'utilisateur</label>
        <mat-form-field>
          <input id="email" matInput formControlName="email" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <mat-form-field>
          <input
            id="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
        </mat-form-field>
      </div>
    </mat-card-content>
    <app-button label="Se connecter" type="submit"></app-button>
    <p *ngIf="onError" class="error">An error occurred</p>
  </form>
</div>
