button {
  border: none;
  background-color: rgba(119, 99, 197, 1);
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
}
