<app-header class="desktop-header"></app-header>
<app-back-button></app-back-button>
<div class="mobile-logo" *ngIf="isMobile">
  <img src="../../../../../assets/logo_p6.png" alt="Logo de MDD" />
</div>
<div class="register">
  <h2 class="register_title">Inscription</h2>
  <form class="register_form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-content>
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <mat-form-field>
          <input id="username" matInput formControlName="username" />
          <mat-error *ngIf="form.get('username')?.hasError('invalidUsername')">
            Le nom d'utilisateur doit contenir uniquement des lettres et des chiffres, et faire entre 3 et 12 caractères.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="email">Adresse email</label>
        <mat-form-field>
          <input id="email" matInput formControlName="email" type="email" />
          <mat-error *ngIf="form.get('email')?.hasError('required')">
            L'email est requis.
          </mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">
            Entrez un email valide.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <mat-form-field>
          <input
            id="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <mat-error *ngIf="form.get('password')?.hasError('invalidPassword')">
            Le mot de passe doit contenir au moins 8 caractères, une majuscule,
            une minuscule, un chiffre, et un caractère spécial.
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <app-button label="S'inscrire" type="submit"></app-button>
    <span *ngIf="onError" class="error">An error occurred</span>
  </form>
</div>
