<app-header></app-header>
<app-back-button></app-back-button>
<div class="post-create">
  <h2 class="post-create_title">Créer un nouvel article</h2>
  <form class="post-create_form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-content>
      <mat-form-field>
        <mat-select
          id="topic"
          formControlName="topic"
          placeholder="Sélectionner un thème"
        >
          <mat-option *ngFor="let topic of topics" [value]="topic.id">
            {{ topic.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('topic')?.hasError('required')">
          Un thème est obligatoire.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          id="title"
          matInput
          formControlName="title"
          placeholder="Titre de l'article"
        />
      </mat-form-field>

      <mat-form-field>
        <textarea
          id="content"
          matInput
          formControlName="content"
          placeholder="Contenu de l'article"
          rows="10"
          cols="30"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <app-button label="Créer" type="submit"></app-button>
    <p *ngIf="onError" class="error">An error occurred</p>
  </form>
</div>
