<div class="app">
  <div *ngIf="$isLogged() | async; else notLogged">
    <router-outlet></router-outlet>
  </div>

  <ng-template #notLogged>
    <ng-container *ngIf="!isLoginOrRegisterPage(); else showOutlet">
      <div class="app_container">
        <img src="../assets/logo_p6.png" alt="Logo de MDD" class="logo" />
        <div class="app_container_buttons">
          <button class="custom-button" routerLink="/login">
            Se connecter
          </button>
          <button class="custom-button" routerLink="/register">
            S'inscrire
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #showOutlet>
      <router-outlet></router-outlet>
    </ng-template>
  </ng-template>
</div>
