<div class="app">
  <!-- Header si l'utilisateur est connecté -->
  <div *ngIf="$isLogged() | async; else notLogged">
    <mat-toolbar>
      <span routerLink="rentals" class="link">Rentals</span>
      <span routerLink="me" class="link">Account</span>
      <span (click)="logout()" class="link">Logout</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>

  <!-- Template si l'utilisateur n'est pas connecté -->
  <ng-template #notLogged>
    <ng-container *ngIf="!isLoginOrRegisterPage(); else showOutlet">
      <div class="app_container">
        <img src="../assets/logo_p6.png" alt="Logo de MDD" class="logo" />
        <div class="app_container_buttons">
          <button class="custom-button" routerLink="/login">
            Se connecter
          </button>
          <button class="custom-button" routerLink="/register">
            S'inscrire
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #showOutlet>
      <router-outlet></router-outlet>
    </ng-template>
  </ng-template>
</div>
